<header class="header-tb">
		<ul >
			<li ><a  href="/filemanager">Test Cases</a></li>
			<li ><a  href="/scr">Screenshots</a></li>
			<li ><a  href="/proxy">Proxy</a></li>
			<li ><a  href="#screenshot">Documentation</a></li>

		</ul>
	</header>